.main-container {
  min-height: 908px;

  align-items: center;
  justify-content: center;
}

.form-begin-like {
  height: 792px;
  width: 934px;
}

.begin-like-title {
  font-family: Gotham Pro;
  font-size: 37px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 1);

  margin-bottom: 36px;
  margin-top: 59px;
}

.begin-like-span {
  margin-bottom: 35px;
}
.begin-like-span a, .begin-like-span p {
  display: inline-block;
}

.begin-like-span a {
  font-family: "Gotham Pro";
  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(145, 73, 202, 1);

}

.begin-like-span p {
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

button {
  width: 400px;
}

input {
  margin-bottom: 50px;
  margin-top: 0;
}
.px1111 {
  width: 1111px;
}

.px896 {
  width: 896px;
}