.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: linear-gradient(180deg, rgba(123, 36, 191, 0.85) 0%, rgba(255, 255, 255, 0) 100.31%);

  min-height: 842px;
}

.main-title {
  font-family: "Gotham Pro";
  font-size: 70px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: center;
  
  color: rgba(255, 255, 255, 1);

  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);

  max-width: 1057px;
  margin-top: 120px;
  margin-bottom: 115px;
}

.main-descr {
  font-family: "Gotham Pro";
  font-size: 40px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: 13px;

}

.choice-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;

  max-width: 1100px;
}

.reg-like {
  border: 3px solid rgba(217, 191, 237, 1);

  border-radius: 55px;
  height: 318px;
  width: 237px;

  background-color: #fff;
}

.reg-like-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  height: 100%;

  padding-top: 42px;
  padding-bottom: 49px;

  position: relative;
}

.reg-like-container:last-child {
  margin-bottom: 103px;
}

.reg-like-img {
  margin-bottom: 24px;
  width: 100px;
  height: 100px;
}

.reg-like-title {
  font-family: "Gotham Pro";
  font-size: 30px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;  
  color: rgba(0, 0, 0, 0.6);
}

.arrow {
  position: absolute;
  bottom: 49px;
}