.footer {
  min-height: 360px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer div {
  margin-right: 134px;
}

.footer-adress-title {
  margin-bottom: 30px;

  font-family: Gotham Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  
}

.address {
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(0, 0, 0, 1);
  
  margin-bottom: 30px;
}

.address:last-child {
  margin-bottom: 0;
}