* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.flex {
    display: flex;
}

.header {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    align-content: center;
    gap: 15px;
    align-items: center;
    min-height: 172px;
}

.header-link {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    align-content: center;
    margin: 31px auto 31px 121px;
}

.link-title {
    color: black;
    font-family: Gotham Pro;
    font-size: 50px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    
}
.link-content {
    color: black;
    font-family: Gotham Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: right;
    
}

.link-text {
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    gap: 2px;

    margin-left: 30px;
    color: black;
}

.container {
    width: 688px;
    background-color: white;
    margin: 110px auto auto auto;
    border-radius: 55px;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.main {
    background: linear-gradient(180deg, rgba(123, 36, 191, 0.85) 0%, rgba(255, 255, 255, 0) 108.31%);

    
    min-height: 908px;
    max-width: 1920px;

    /*margin-bottom: 219px;*/
}

.log-in-form {
    flex-direction: column;
    gap: 44px;
    justify-content: flex-start;
    align-content: center;

    margin-top: 83px;
    margin-bottom: 54px;
}

.log-in-title {
    font-family: Gotham Pro;
    font-size: 40px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

    color: rgba(0, 0, 0, 1);
}

.log-in-input {
    border-radius: 20px;
    border: 1px solid rgba(145, 73, 202, 1);
    padding: 14px 20px;
    width: 574px;
    height: 64px;
}

.log-in-input::placeholder {
    font-family: Gotham Pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    
    color: rgba(17, 16, 16, 1);
}

.log-in-btn {
    background-color: rgba(145, 73, 202, 1);
    border-radius: 20px;
    width: 197px;
    height: 64px;
    text-align: center;
    margin-bottom: 62px;
    font-family: Gotham Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}