.main__top {
  background: linear-gradient(180deg, rgba(123, 36, 191, 0.85) 0%, rgba(255, 255, 255, 0) 100%);

  min-height: 908px;
  width: 100vw;

  margin-bottom: 219px;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main__top-form {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  padding: 71px 50px;

  border-radius: 55px;

  margin-top: 39px;
}

.main__top-title {
  font-family: "Gotham Pro";
  font-size: 37px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}

.main__top-form__container-title {
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  margin-bottom: 8px;
}